{% macro render_stats(data) %}
<div class="content">
    <h1>{{ data.name }}</h1>
</div>

<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Wszystkie SP</p>
            <p class="title">{{ data.all_story_points|round|int }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Zrealizowane SP</p>
            <p class="title">{{ data.resolved_story_points|round|int }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">SP w trakcie realizacji</p>
            <p class="title">{{ data.story_points_in_progress|round|int }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">% zrealizowanych SP</p>
            <p class="title">{{ data.percent_resolved|round(1) }}%</p>
        </div>
    </div>
</nav>

<progress class="progress is-success" value="{{ data.resolved_story_points|round|int }}"
          max="{{ data.all_story_points|round|int }}">{{ data.percent_resolved|round|int }}%
</progress>
{% endmacro %}